body {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;
}
.start {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 50%;
    right: 50%;
    height: 50%;
    z-index: 2;
    transform: translate(50%, 50%);
    background: #ff00007a;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    width: 50%;
    margin: auto;
    justify-content: center;
}
.go {
    width: 50%;
    background: none;
    border: white solid 1px;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}
.bubble {
    position: absolute;
    border-radius: 300px;
    background: rgba(255, 166, 0, 0.6);
    opacity: 0;
    animation: anim 8s forwards;
    filter: hue-rotate(0deg);
}
@keyframes anim {
    to {
        top:-250px;
        opacity: 1;
        filter: hue-rotate(700deg);
        left: var(--left);
    }
}
h3 {
    font-size: 10rem;
    text-align: center;
    margin-top: 20px;
    user-select: none;
}
.points{
    color:rgba(255, 0, 0, 0.433)
}
.minuteur {
    color: rgba(0, 0, 0, 0.389);
}
.indicateurs {
    display: flex;
    justify-content: space-around;
}